<?xml version="1.0"?>
<model>
    <name>my_robot</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf> <!-- Menunjukkan file sdf yang digunakan -->
    <author>
        <name>Ahmad Marzuki</name>
        <email>ahmadmarzuki303@gmail.com</email>
    </author>
    <description>
        A simple robot model.
    </description>
</model>
